body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cardResults div, #relicResults div {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#cardResults img, #relicResults img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
