
::-webkit-scrollbar { width: 10px; height: 4px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: #a0811b; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:active { background: #5f3908;}
::-webkit-scrollbar-track {background: #423100;border: 0px solid #aaa; border-radius: 5px;}
/* ::-webkit-scrollbar-track:active { background: #d2d2d2;} */
::-webkit-scrollbar-corner { background: transparent;}

* { 
    font-family: "Kreon", serif;
    color: #FFEDA7;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');

body {
    background-image: url(../imagenes_extra/slay-spire-3140438.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

div h2, div h3 {
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #442f00;
}

.negro, button, #card-search, #choose-better-relics, #clear-relics, #choose-better-cards, #clear-cards, input, button{
    font-family: "Kreon", serif;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.filter{
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container{
    padding: 50px 50px 0 !important ;
    max-width: 1750px !important;
}

.custom-list-container {
    width: 250px;
    border: 1px solid #ccc;
    width: 250px;
    border: none;
}

#card-list {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 188px;
    border: none !important;
    width: 100%;
    margin-top: 10px;
}

#relic-list {
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 140px;
    border: none !important;
    width: 100%;
    margin-top: 10px;
}

.custom-list li {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 4px;
    /* border-bottom: 1px solid #ddd; */
}

.custom-list button {
    float: right;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 2px 6px;
    margin-right: 3px;
    cursor: pointer;
}

.custom-list button:hover {
    background-color: #e0e0e0;
}

button#add-card, button#add-relic {
    border-radius: 16px;
    padding: 2px 14px;
    margin-left: 5px;
    background-color: #FFEDA7;
}

button#add-card:disabled,
button#add-card[disabled],
button#add-relic:disabled,
button#add-relic[disabled] {
    background-color: #b1ac95;
    color: #666;
    cursor: not-allowed;
}

input#card0-search,input#relic0-search {
    margin-bottom: 0;
}

.suggestion-container.suggestion-cards,
.suggestion-container.suggestion-relics {
    width: 100%;
}

div input{
    margin: 10px 0 0 0;
}

.objects{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.card-image, .interrogant-image{
    width: 100%;
}

.no-relic-image{
    width: 250%;
}

.relic-image{
    width: 80%;
}

.relic-group{
    padding-top: 30px;

}

.title{
    padding-bottom: 30px;
}

.abandon-run{
    position: absolute;
    top: 5%;
    right: 6.5%;
    border-radius: 26px;
    padding: 7px 26px;
    background-color: #C44E4C;
    color: #FFEDA7;
}

li.card-item button {
    height: 24px;
    border-radius: 13px;
    font-size: 16px;
    padding: 0 6px;
}

.delete-button{
    background-color: #C44E4C !important;
    color: #fff;
}

.upgrade-button{
    background-color: #67a158 !important;
    color: #fff;
}

.delete-relic{
    background-color: #C44E4C !important;
    color: #fff;
}

li.relic-item button {
    height: 24px;
    border-radius: 13px;
    font-size: 16px;
    padding: 0 6px;
}

input[type=text] {
    border-radius: 16px;
    padding: 3px 3px 3px 10px;
}

.predict-card{
    margin-top: 11em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.predict-relic{
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.placeholdercards{
    background-image: url(../imagenes_extra/nocardfound.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 243.578px, 313.984px;
    /* opacity: 0.6; */
    
    height: 320px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.placeholderrelics{
    height: 122px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relics{
    margin-top: 20px;
    background: rgb(101 97 89 / 50%);
    padding: 16px;
    width: 290px;
    border-radius: 10px;
}

.suggestion-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: flex-start;
    width: 54%;
}

.suggestions-card-prediction {
    position: absolute;
    top: 0;
    background-color: rgb(101 96 64);
    z-index: 1000;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    border-radius: 14px;
}

.suggestions-relic-prediction {
    position: absolute;
    bottom: 33px;
    background-color: rgb(102 97 60);
    z-index: 1000;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    border-radius: 14px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #484437;
}

.prediction {
    font-size: 25px;
    text-align: center;
    height: 37.5px;
}

.clear{
    margin-top: 11px;
}

.character-info{
    margin-bottom: 50px;
}

.deck {
    background: rgb(101 97 89 / 50%);
    padding: 16px;
    width: 290px;
    border-radius: 10px;
}

input#max-hp, input#entering-hp {
    float: right;
    border-radius: 16px;
    margin-top: -5px;
}

.hp {
    background: rgb(101 97 89 / 50%);
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño del texto */
    text-align: center; /* Centrar texto */
    width: 80px; /* Ajustar ancho según necesidad */
    margin: 0;;
}

.hp-text{
    margin-bottom: 10px;
}

.estatusHP {
    width: 74%;
    margin-top: 20px;
}

img.logo-char {
    margin-right: 3px;
}

.hp-image{
    float: left;
    width: 50px;
    margin-top: 5px;
    margin-right: 14px;
}

#skip-prediction {
    margin-top: 136px;
    height: 75px;
}

#relic-skip-prediction {
    margin-top: 28px;
    height: 75px;
}

.predict-card button, .predict-relic button {
    border-radius: 20px;
    padding: 5px 9px;
    width: 100%;
}

.predict-card button:disabled,.predict-relic button:disabled {
    background-color: #b1ac95;
    color: #666;
    cursor: not-allowed;
}

#choose-better-cards,#choose-better-relics {
    background-color: #67a158 !important;
    color: #fff;
}

#choose-better-cards:disabled,#choose-better-relics:disabled {
    background-color: #5c6958 !important;
    color: #fff;
}

#clear-cards, #clear-relics {
    background-color: #e1e1e1;
}

@keyframes easeInOut {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card-image {
    opacity: 0;
    animation: easeInOut 0.5s ease-out forwards;
}

.relic-image {
    opacity: 0;
    animation: easeInOut 0.5s ease-out forwards;
}