html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Evita el desplazamiento */
  font-family: Papyrus, fantasy;
}

body {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/slay-spire-3140438.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: Papyrus, fantasy;
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 49px; 
  font-weight: 700; 
}

div.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  width: 100vw;
  height: 100vh;
  gap: 20px;
  border: none;
}

div.card {
  background: transparent;
  border: none;
}

img.card-img-top {
  background-color: transparent;
  width: 300px; /* Ancho fijo */
  height: 300px; /* Alto fijo */
  max-width: 100%;
  max-height: 70%;
  object-fit: scale-down;
  border: none;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Suaviza la transición */
}


.image-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: transparent;
  border: none;
  border-radius: 2cm;
}

.card-title {
  font-family: Papyrus, fantasy;
  color: rgb(190, 190, 190);
  text-shadow: 2px 2px 2px rgba(31, 31, 31, 0.5);
  opacity: 0; /* Oculta el texto inicialmente */
  transition: opacity 0.3s; /* Suaviza la transición */
  border: none;
}

.image-button:hover .card-title {
  opacity: 1; /* Muestra el texto al pasar el ratón */
}


img.card-img-top:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
}

.image-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Halo de luz */
}

.ironclad-button:hover {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/IroncladFondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.silent-button:hover {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/SilentFondo.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.defect-button:hover {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/DefectFondo.jpeg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.watcher-button:hover {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/WatcherFondo.jpeg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

