html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Evita el desplazamiento */
  font-family: sans-serif;
}

body {
  background-image: url("../../Machine_learning/Load_data/Web scrapping/imagenes_extra/slay-spire-3140438.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, p {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20%;
  text-decoration: dotted;
}

h5, p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20%;
}

div.row.row-cols-4{
  background-color: transparent;
}

div.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

div.card {
  background: transparent;
}

.card-img-top {
  background-color: transparent;
  width: 250px; /* Ancho fijo */
  height: 250px; /* Alto fijo */
  object-fit: scale-down; /* Mantiene la relación de aspecto */
  background: transparent;
}

.card-body{ 
  background-color: transparent;
  text-align: center;
}

.image-button{
  width: 250px; /* Ancho fijo */
  height: 250px; /* Alto fijo */
  background: transparent;
  
}



