.custom-list-container {
    width: 300px;
    border: 1px solid #ccc;
}

.custom-list {
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.custom-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.custom-list li:last-child {
    border-bottom: none;
}

.custom-list button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
}

.custom-list button:hover {
    background-color: #e0e0e0;
}

body {
    background-image: url(../imagenes_extra/slay-spire-3140438.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

* { 
    font-family: Papyrus, fantasy;
    color: rgb(255, 208, 0);
    font-weight: 700;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

div h2, div h3 {
    font-weight: 700;
}

.filter{
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container{
    padding: 50px!important;
}

.objects{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.buttonx{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centra horizontalmente */
}

.card-image{
    width: 70%;

}

.relic-image{
    width: 80%;
}

.negro, button, #max-hp, #entering-hp, #card-search, #choose-better-relics, #clear-relics, #choose-better-cards, #clear-cards, input{
    font-family: Papyrus, fantasy;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-shadow: 3px 3px 6px rgb(255, 255, 255);
}

div input{
    margin: 10px;
}

.container{
    max-width: 1750px !important;
}



.relic-group{
    padding-top: 40px;

}

.title{
    padding-bottom: 30px;
}

.predict-card{
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.predict-relic{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.placeholdercards{
    height: 320px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.placeholderrelics{
    height: 122px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relics{
    margin-top: 20px;
}

::-webkit-scrollbar { width: 9px; height: 9px;}
::-webkit-scrollbar-button { width: 0px; height: 0px;}
::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover { background: #3d6077;}
::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
::-webkit-scrollbar-track:hover { background: #e4e4e4;}
::-webkit-scrollbar-track:active { background: #d2d2d2;}
::-webkit-scrollbar-corner { background: transparent;}

.suggestion-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: flex-start;
    width: 169.069px;
    
}

.suggestions {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: 0px solid #ccc;
    z-index: 1000;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
}
.suggestion-item:hover {
    background-color: #eee;
}

.prediction{
    height: 22px;
}

