<!DOCTYPE html>
<html>
<head>
    <title>Choose your character</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Choose your character:</h1>
    <div class="characters">
        <a href="{{ url_for('character', name='Ironclad') }}">
            <img src="https://static.wikia.nocookie.net/slay-the-spire/images/7/70/Ironclad.png" alt="Ironclad">
            <p>The Ironclad</p>
        </a>
        <a href="{{ url_for('character', name='Silent') }}">
            <img src="https://static.wikia.nocookie.net/slay-the-spire/images/a/ac/Silent.png" alt="Silent">
            <p>The Silent</p>
        </a>
        <a href="{{ url_for('character', name='Defect') }}">
            <img src="https://static.wikia.nocookie.net/slay-the-spire/images/2/27/Defect.png" alt="Defect">
            <p>The Defect</p>
        </a>
        <a href="{{ url_for('character', name='Watcher') }}">
            <img src="https://static.wikia.nocookie.net/slay-the-spire/images/9/98/Watcher.png" alt="Watcher">
            <p>The Watcher</p>
        </a>
    </div>
</body>
</html>

